<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source =.\SQLEXPRESS; Initial Catalog = AutoDB; Integrated Security = True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="query.substitutions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS;Initial Catalog=AutoDB;Integrated Security=True</property>
      <mapping assembly="CommonLibrary"/>
    </session-factory>
  </hibernate-configuration>
  <system.serviceModel>
    <services>
      <service name="ServiceExample.RepositoryService" behaviorConfiguration="mexBehavior">
        <endpoint address="RepositoryService" binding="netTcpBinding" contract="ServiceExample.IRepositoryService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:56562/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <errorHandlerConfig handlerType="ServiceExample.ErrorHandler, CommonLibrary, Version = 1.0.0.0, Culture=Neutral, PublicKeyToken=null"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandlerConfig" type="CommonLibrary.ErrorsHandlers.ErrorHandlerConfigElement, CommonLibrary, Version = 1.0.0.0, Culture=Neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>