<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source =.\SQLEXPRESS; Initial Catalog = AutoDB; Integrated Security = True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="query.substitutions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS;Initial Catalog=AutoDB;Integrated Security=True</property>
      <property name="show_sql">true</property>
      <mapping assembly="CommonLibrary" />
    </session-factory>
  </hibernate-configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRepositoryService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:56562/RepositoryService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRepositoryService"
        contract="RepService.IRepositoryService" name="NetTcpBinding_IRepositoryService">
        <identity>
          <userPrincipalName value="DESKTOP-H5T5H96\andre" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>